# Data Preprocessing

In [3]:
#importing libraries
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
#loading dataset
data=pd.read_csv('hr_data.csv')
data

,employee_id,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,1003,2,157,3,0,1,0,sales,low
1,1005,5,262,6,0,1,0,sales,medium
2,1486,7,272,4,0,1,0,sales,medium
3,1038,5,223,5,0,1,0,sales,low
4,1057,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...
14994,87670,2,151,3,0,1,0,support,low
14995,87673,2,160,3,0,1,0,support,low
14996,87679,2,143,3,0,1,0,support,low
14997,87681,6,280,4,0,1,0,support,low
14998,87684,2,158,3,0,1,0,support,low

In [5]:
#loading excel file of employee satisfaction_evalution
df2=pd.read_excel('employee_satisfaction_evaluation.xlsx')
df2

       EMPLOYEE #  satisfaction_level  last_evaluation
0            1003                0.38             0.53
1            1005                0.80             0.86
2            1486                0.11             0.88
3            1038                0.72             0.87
4            1057                0.37             0.52
...           ...                 ...              ...
14994       87670                0.40             0.57
14995       87673                0.37             0.48
14996       87679                0.37             0.53
14997       87681                0.11             0.96
14998       87684                0.37             0.52

[14999 rows x 3 columns]

In [6]:
main_df=data.set_index('employee_id').join(df2.set_index('EMPLOYEE #'))

In [7]:
main_df.reset_index(inplace=True)

In [8]:
main_df.head()

,employee_id,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary,satisfaction_level,last_evaluation
0,1003,2,157,3,0,1,0,sales,low,0.38,0.53
1,1005,5,262,6,0,1,0,sales,medium,0.80,0.86
2,1486,7,272,4,0,1,0,sales,medium,0.11,0.88
3,1038,5,223,5,0,1,0,sales,low,0.72,0.87
4,1057,2,159,3,0,1,0,sales,low,0.37,0.52

In [9]:
main_df.drop('employee_id',axis=1,inplace=True)
main_df.head()

,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary,satisfaction_level,last_evaluation
0,2,157,3,0,1,0,sales,low,0.38,0.53
1,5,262,6,0,1,0,sales,medium,0.80,0.86
2,7,272,4,0,1,0,sales,medium,0.11,0.88
3,5,223,5,0,1,0,sales,low,0.72,0.87
4,2,159,3,0,1,0,sales,low,0.37,0.52

In [10]:
#check missing value
main_df[main_df.isnull().any(axis=1)]

,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary,satisfaction_level,last_evaluation
18,2,160,3,1,1,1,sales,low,NaN,NaN
19,5,262,5,0,1,0,sales,low,NaN,0.89
33,2,140,3,0,1,0,hr,low,NaN,NaN
53,2,132,3,0,1,0,support,low,NaN,NaN
72,2,149,3,0,1,0,product_mng,high,NaN,NaN
92,2,143,3,0,1,0,sales,low,NaN,NaN
107,2,148,3,0,1,0,accounting,medium,NaN,NaN
120,4,158,4,1,1,0,technical,low,NaN,NaN
137,2,129,3,0,1,0,management,low,NaN,NaN
175,4,164,2,0,1,0,sales,low,NaN,NaN
191,4,226,6,1,1,0,technical,medium,0.92,NaN
352,4,262,6,0,1,0,support,low,NaN,0.91
376,4,296,2,0,1,0,IT,medium,0.56,NaN
402,5,275,5,0,1,0,sales,low,NaN,1.00
427,3,180,4,0,1,0,technical,medium,NaN,0.60
442,5,229,5,0,1,0,management,low,0.77,NaN
468,5,245,5,0,1,0,sales,low,NaN,0.92
543,5,237,5,0,1,0,sales,medium,0.89,NaN
892,4,276,5,0,1,0,support,low,0.74,NaN
1588,5,264,5,0,1,0,IT,medium,NaN,0.81
1934,4,225,5,0,1,0,sales,medium,0.78,NaN
2343,3,115,2,1,0,0,support,low,NaN,0.97
2743,5,149,2,0,0,0,RandD,low,0.62,NaN
3170,5,186,2,0,0,0,technical,medium,NaN,NaN
3609,3,263,2,1,0,0,sales,medium,0.95,NaN
3776,4,214,3,0,0,0,technical,medium,NaN,0.68
4122,3,192,3,0,0,0,marketing,high,0.86,NaN
4740,3,253,3,0,0,0,marketing,medium,NaN,0.95
5028,4,180,4,0,0,0,product_mng,medium,0.64,NaN
6453,5,166,2,0,0,0,technical,high,NaN,0.78
7005,4,150,3,0,0,0,technical,low,0.82,NaN
7516,4,264,3,0,0,0,technical,low,NaN,0.97
8630,4,167,3,1,0,0,technical,low,0.90,NaN
9455,4,270,3,0,0,0,product_mng,low,NaN,0.88
9901,5,252,3,0,0,0,support,medium,0.92,NaN
10647,4,165,3,0,0,0,technical,low,NaN,0.69
10962,5,233,3,0,0,0,support,low,0.65,NaN
11575,3,192,7,0,0,0,management,high,NaN,NaN
11967,3,148,3,0,0,0,IT,low,0.82,NaN
12422,5,257,5,0,1,0,technical,medium,NaN,1.00
12853,3,136,2,0,0,0,hr,high,NaN,0.70
13482,3,207,7,0,0,1,management,medium,0.58,NaN
13925,3,133,3,0,0,0,sales,medium,NaN,0.75

In [11]:
#fill missing values by mean
main_df.fillna(main_df.mean(),inplace=True)

In [12]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
main_df.department=enc.fit_transform(main_df.department)
main_df.salary=enc.fit_transform(main_df.salary)

#high-->0
#low-->1
#medium-->2

In [27]:
main_df.head()
inplace=True

In [28]:
x=main_df.drop('left',axis=1)
y=main_df['left']

In [29]:
#split the data into training ad testing set
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [30]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((10499, 9), (4500, 9), (10499,), (4500,))

In [31]:
#Standard Scaler
#no need of Scaling in Decision Tree algorithm

In [32]:
from sklearn.tree import DecisionTreeClassifier
dtree=DecisionTreeClassifier()
dtree.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [33]:
y_predict=dtree.predict(x_test)

In [34]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [35]:
confusion_matrix(y_test,y_predict)

array([[3385,   77],
       [  36, 1002]], dtype=int64)

In [36]:
print('accuracy of model is',round(accuracy_score(y_test,y_predict)*100,2),'%')

accuracy of model is 97.49 %

In [59]:
category=['employee will not quit','employee will  quit']

In [60]:
main_df.head()

,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary,satisfaction_level,last_evaluation
0,2,157,3,0,1,0,7,1,0.38,0.53
1,5,262,6,0,1,0,7,2,0.80,0.86
2,7,272,4,0,1,0,7,2,0.11,0.88
3,5,223,5,0,1,0,7,1,0.72,0.87
4,2,159,3,0,1,0,7,1,0.37,0.52

In [65]:
#input custom data for cross verification 
custom_data=[[2,200,4,1,1,3,2,0.45,0.42]]

In [66]:
predcit=dtree.predict(custom_data)

In [67]:
s=int(predcit)
print(category[s])

employee will not quit

In [68]:
dtree.feature_importances_

array([9.70108893e-02, 1.05178030e-01, 1.29002208e-01, 5.82897250e-05,
       3.14733226e-05, 8.81211023e-03, 6.23257055e-03, 4.98721375e-01,
       1.54953054e-01])

In [70]:
feature_importance=pd.DataFrame(dtree.feature_importances_,index=x_train.columns,columns=['importance']).sort_values('importance',ascending=False)

In [71]:
feature_importance

                       importance
satisfaction_level       0.498721
last_evaluation          0.154953
time_spend_company       0.129002
average_montly_hours     0.105178
number_project           0.097011
department               0.008812
salary                   0.006233
Work_accident            0.000058
promotion_last_5years    0.000031